.best-team-section{
	background:#ffe1bd;
	padding-bottom: 109px;
	.best-team-slider,
	.best-team-slider-small{
		margin: 50px auto;
		max-width: 885px;
		display:flex;
		flex-wrap: wrap;
		&__item{
			display:flex;
			flex-direction: column;
			align-items:center;
			width: 295px;
			.slider-img{
				width: 168px;
				height: 168px;
				border-radius:100px;
				overflow: hidden;
			}
			img{
				width: 100%;
			}
		}
	}
}
@media (max-width: 767px){
	.best-team-section{
		padding-bottom: 25px;
	}
	.best-team-slider{
		&__item{
			transform: scale(0.7) !important;
		}
	}
	.best-team-slider-small{
		margin: 0 auto !important;
	}
}